//mixin for buttons
@mixin button() {
    font-size:$buttonfontsize;
    background-color:#80CBC4;
    color:black;
    text-transform:uppercase;
    padding:10px 20px;
    font-weight:600;
    font-family:$text-font;
    text-decoration:none;
    border-radius:5px;
    letter-spacing:0.1rem;
}