$title-font:'Oswald', sans-serif;
$header-font:'Montserrat', sans-serif;
$text-font:'Open Sans', sans-serif;

$title-color:#f2f2f2;
$header-background-color:#232323;
$home-background-color:#262626;
$icon-background-color:#cccccc;
$text-color:#666666;


