$title-font:'Oswald', sans-serif;
$header-font:'Montserrat', sans-serif;
$text-font:'Open Sans', sans-serif;

$title-color:#f2f2f2;
$text-color:#666666;
$heading-color:#232323;
$portfolio-grid-background:#f2f2f2;
$footer-background-color:#262626;
$footer-icons-color:#f2f2f2;
$span-color:black;
$button-hover-color:#26A69A;
$nav-hover-color:#9E9E9E;

$navfontsize:1.3rem;
$h1fontsize:8rem;
$h2fontsize:3.5rem;
$h3fontsize:2.5rem;
$h4fontsize:1.5rem;
$iconfontsize:5rem;
$labelfontsize:1.5rem;
$socialiconfontsize:2.5rem;
$buttonfontsize:1.5rem;
$span-font-size:2rem;


