@import "./partials/setup";
@import "./partials/variables";

html {
    font-size:10px;
}

body {
    font-family:sans-serif;
}

.wrapper {
    margin:0 auto;
    max-width:1000px;
}

.hero-image {
    background-image:linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/hero-image.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    min-height:90vh;
}
